h1 {
    color: red
} 
.button {
    margin-top: 1%;
}   
.head {
    text-align: center;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  